<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<p>image</p>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
<p>name</p>
<%= @user.name %>
<p>自己紹介</p>
<%= @user.introduction %>
<%= link_to "edit", edit_user_path(@user) %>

<%= form_with model:@book, local:true do |f| %>

 <h4>タイトル</h4>
 <%= f.text_field :title %>
 <h4>感想</h4>
 <%= f.text_area :body %>


 <%= f.submit '投稿' %>

<ul class="users">
  <% @books.each do |book| %>
    <li>
      <p>image</p>
      <%= attachment_image_tag book, :book_image, :fill, 60, 60, fallback: "no_image.jpg"%>
      <p>title</p>
      <%= book.title %>
      
      <p>感想</p>
      <%= book.body %>
      <%= link_to book.body, book_path(book) %>
      <% if book.user_id == current_user.id.to_s %>
      <%= link_to "edit", edit_book_path(book) %>
      <%= link_to "削除", book_path(book), method: :delete %>
      <% end %>
   </li>

  <% end %>
</ul>

<% end %>